<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2>Informacje</h2>
                <hr>
                <h3><strong><i class="fa fa-user" aria-hidden="true"></i> Imię i nazwisko:</strong> <% user.name %></h3>
                <h3 ng-if="user.sex === 'm'"><strong><i class="fa fa-mars" aria-hidden="true"></i> Płeć:</strong> mężczyzna</h3>
                <h3 ng-if="user.sex === 'f'"><strong><i class="fa fa-venus" aria-hidden="true"></i> Płeć:</strong> kobieta</h3>
                <h3><strong><i class="fa fa-map-marker" aria-hidden="true"></i> Miasto:</strong> <% user.city %></h3>
                <h3><strong><i class="fa fa-birthday-cake" aria-hidden="true"></i> Urodziny:</strong> <% user.birthday | date:'fullDate' %></h3>
                <h3><strong><i class="fa fa-calendar-plus-o" aria-hidden="true"></i> Konto od:</strong> <% user.created | date:'fullDate' %></h3>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <h2>Statystyki</h2>
                <hr>
                <h3><strong><i class="fa fa-pencil" aria-hidden="true"></i> Posty:</strong> <% user.posts %></h3>
                <h3><strong><i class="fa fa-comment" aria-hidden="true"></i> Komentarze:</strong> <% user.comments %></h3>
                <h3><strong><i class="fa fa-heart" aria-hidden="true"></i> Polubienia:</strong> <% user.likes %></h3>
                <!--<h3><strong><i class="fa fa-calendar-plus-o" aria-hidden="true"></i> Stworzone miejsca:</strong> <% user.created | date:'fullDate' %></h3>-->
                <!--<h3><strong><i class="fa fa-calendar-plus-o" aria-hidden="true"></i> Stworzone wycieczki:</strong> <% user.created | date:'fullDate' %></h3>-->
            </div>
        </div>
    </div>
</div>