<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2>Miejsca</h2>

                <ul class="list-group">
                    <li ng-repeat="place in places" class="list-group-item">


                        <div class="btn-group pull-right" ng-if="place.is_owner">
                            <a href="<% place.edit_url %>" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i> Edytuj</a>
                            <button ng-click="delete(place.id)" type="submit" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> Usuń</button>
                        </div>

                        <a href="<% place.url %>">
                            <h3>
                                <i ng-if="place.place_type == 'attraction'" class="fa fa-university"></i>
                                <i ng-if="place.place_type == 'accommodation'" class="fa fa-bed"></i>
                                <% place.name %>
                            </h3>
                        </a>
                        <p><% place.short_description %></p>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>