<div class="panel panel-default" style="position:relative;">
    <div class="panel-body post">

        <div class="row">
            <div class="col-md-12">
                <div class="post-header">
                    <a href="<% user.link %>">
                        <img src="<% user.avatar %>" class="min-avatar">
                        <h4><% user.name %></h4>
                    </a>
                </div>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form class="post-content">
                    <img id="new-post-image">
                    <!--<textarea class="comment-new form-control" placeholder="Napisz coś..." ng-model="form.text" required></textarea>-->
                    <wysiwyg textarea-id="new-post" textarea-class="comment-new form-control" textarea-name="newPost" textarea-required ng-model="form.text" enable-bootstrap-title="true"></wysiwyg>
                    <div class="btn-group pull-right" role="group">
                        <button type="button" class="btn btn-primary" ng-click="choosePostImageClick()"><i class="fa fa-picture-o" aria-hidden="true"></i> Dodaj zdjęcie</button>
                        <input type="file" accept="image/*" name="new-post-image-input" id="new-post-image-input" style="display: none;">
                        <button type="submit" class="btn btn-success" ng-click="addPost()"><i class="fa fa-plus-square" aria-hidden="true"></i> Dodaj post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div ng-show="newPostSending" class="uploading-post">
        <h1 class="animated infinite pulse"><i class="fa fa-upload" aria-hidden="true"></i> Wysyłanie...</h1>
    </div>
</div>